.header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: calc(100% - 270px);
  height: 50px;
  background-color: var(--background-white2);
  z-index: 1000;
}

.btnLogout {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: var(--text-color-black2);
  font-size: var(--fs13);
  font-weight: var(--fw400);
  transition: var(--transition);
}

.headerRightGroup {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-left: auto;
  margin-right: 46px;
}

.headerRightButtonGroup {
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.headerRightAuthTextArea {
  display: flex;
  align-items: center;
}

.headerRightAuthText {
  font-weight: var(--fw400);
  font-size: var(--fs14);
  color: var(--text-color-black2);
}

@media (hover: hover) {
  .btnLogout:hover {
    color: var(--primary3);
    font-weight: var(--fw700);

    .ico.logout {
      background: url('../../assets/header/ico-logout-hover.svg') no-repeat
        center;
    }
  }
}
