.searchArea {
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  border-radius: 8px;
  padding: 13px 30px;
  column-gap: 50px;
  background-color: var(--background-blue2);

  .baseRadioLabel {
    &::before {
      width: 18px;
      height: 18px;
    }

    &::after {
      width: 10px;
      height: 10px;
      left: 5px;
    }
  }

  .baseCheckboxLabel {
    &::before {
      width: 18px;
      height: 18px;
    }

    &::after {
      width: 20px;
      height: 20px;
      left: 0;
      background-size: 12px;
    }
  }

  .baseCheckboxWrapper {
    &[aria-checked='mixed'] {
      .baseCheckboxLabel {
        &::after {
          background-size: 12px;
        }
      }
    }
  }

  .searchColumn {
    + .baseButton.bgGray {
      margin-left: auto;
      white-space: nowrap;
    }
  }

  + .popupCautionText {
    margin-top: 14px;
  }

  + .graphArea,
  + .tableWrapper {
    margin-top: 40px;
  }

  &.cg50 {
    column-gap: 50px !important;
  }
}

.searchColumn {
  position: relative;
  // flex: 1;
  display: flex;
  align-items: center;
  // column-gap: 10px;

  &.flex1 {
    flex: 1;

    .baseTextFieldWrapper {
      min-width: auto;
      max-width: none;
      flex: inherit;
    }
  }

  .baseSelectWrapper {
    min-width: 183px;
  }

  .baseCheckboxWrapper {
    + .baseCheckboxWrapper {
      margin-left: 20px;
    }
  }
}

.searchLabel {
  min-width: 80px;
  font-size: var(--fs14);
  font-weight: var(--fw500);
  color: var(--text-color-black6);
  word-break: keep-all;
  margin-right: 10px;

  &.fitWidth {
    min-width: auto;
    width: fit-content;
  }
}

.searchColumnInputBox {
  display: flex;
  align-items: center;
  flex: 1;

  .baseButton {
    + .baseButton {
      margin-left: 5px;
    }
  }

  .betweenText {
    font-size: var(--fs14);
    color: var(--text-color-black6);
    margin: 0 10px;
  }

  + .baseCheckboxWrapper.abs {
    margin-left: 10px;
  }

  &.cg30 {
    column-gap: 30px;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.baseTable {
  + .pagingContainer {
    margin-top: 20px;
  }
}

.searchArea {
  + .baseTable,
  + .sectionContainer {
    margin-top: 40px;
  }
}

.sectionBox {
  width: 100%;

  &.both {
    display: flex;
    align-items: center;
  }

  &.cg65 {
    column-gap: 65px;
  }

  + .sectionBox {
    &.both {
      margin-top: 40px;
    }
  }
}

.sectionContainer {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 60px;
  }

  &.borderBottom {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--border1);
  }

  &.aifs {
    align-items: flex-start;
  }

  &.col {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
  }

  &.cg40 {
    column-gap: 40px;
  }



  &.wd410 {
    .sectionBox {
      &:first-of-type {
        min-width: 410px;
        width: auto;
      }
    }

    .sectionBox {
      &:last-of-type {
        flex: 1;
      }
    }
  }

  &.half {
    align-items: flex-start;

    .sectionBox {
      flex: 1;
      height: 730px;
    }

    .sectionInnerBox {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .emptyArea {
      flex: 1;
    }

    .sectionInnerContainer {
      max-height: 674px;
      height: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      row-gap: 28px;

      .sectionTitleGroup {
        min-height: auto;
      }
    }
  }

  &.hasTitleButton {
    .sectionTitleGroup {
      min-height: 36px;
    }
  }

  &.hasAccordion {
    column-gap: 50px;

    .sectionBox {
      &:first-child {
        max-width: 300px;
      }
    }

    .sectionBox {
      &:last-child {
        flex: 1;
      }
    }

    .accordionArea {
      padding: 17.5px 30px;
      border: 1px solid #adadad;
      border-radius: 10px;
    }

    .rowType {
      th {
        height: 55px;
      }
    }
  }
}

.popupSectonDescArea {
  + .searchArea {
    margin-top: 14px;
  }
}

.resultArea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  column-gap: 2.5px;
  font-size: var(--fs15);
  color: var(--text-color-gray1);
  font-weight: var(--fw500);
  margin-bottom: 20px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 16px;
  min-width: 58px;
  height: 30px;
  border-radius: 100px;
  font-size: var(--fs14);
  font-weight: var(--fw700);
  margin: 0 auto;

  &.blue {
    color: #1a6eff;
    background-color: #dce7fc;
  }

  &.red {
    color: #ee4444;
    background-color: #fff2f2;
  }

  &.black {
    color: #222;
    background-color: #f2f2f2;
  }
}

.emptyArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fafafa;

  &.border {
    border: 1px solid var(--border-table);
  }

  &.imgFull {
    img {
      width: 100%;
      height: 100%;
    }
  }

  + .baseTable {
    margin-top: 40px;
  }
}

.graphArea {
  width: 100%;
  padding: 30px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  background-color: var(--background-white1);
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  + .pagingContainer {
    margin-top: 20px;
  }
}

.tableButtonGroup {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
}

.sectionTitleGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

  // .sectionDescriptionArea {
  //   width: auto;
  // }

  .sectionTitle {
    margin-bottom: 0;
  }

  .searchColumn {
    flex: none;
  }

  &.aife {
    align-items: flex-end;
  }

  &.hasDescRight {
    flex-wrap: wrap;
    row-gap: 20px;

    .sectionTitle {
      width: 100%;
    }
  }

  &.hasFile {
    justify-content: flex-start;
    column-gap: 20px;

    .sectionTitleRightGroup {
      width: 100%;
      max-width: 300px;
    }
  }
}

.sectionDescriptionArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;

  &.wd100 {
    width: 100%;
  }
}

.sectionTitleRightGroup {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-left: auto;

  .resultArea {
    margin-bottom: 0;
  }

  &.right {
    width: 100%;
    justify-content: flex-end;
  }
}

.sectionTitle {
  font-size: 1.375rem;
  font-weight: var(--fw700);
  color: var(--text-color-black2);
  margin-bottom: 18px;

  &.required {
    display: flex;
    align-items: center;

    &::before {
      content: '*';
      margin-right: 5px;
      font-size: 1.25rem;
      color: #ee4444;
    }

    &::after {
      display: none;
    }
  }

  &.dot {
    display: list-item;
    font-size: var(--fs16);
    font-weight: var(--fw600);
    list-style: disc;
    margin-left: 20px;
  }

  &.listStyleNone {
    list-style: none;
    margin-left: 0;
  }

  &.bullet {
    display: flex;
    align-items: center;
    column-gap: 6px;

    &::before {
      content: '';
      width: 24px;
      height: 20px;
      background: url('../../assets/icons/ico-bullet.svg') no-repeat center 0px;
    }
  }

  &.bullet-play {
    display: flex;
    align-items: center;
    column-gap: 6px;

    &::before {
      content: '';
      width: 24px;
      height: 20px;
      background: url('../../assets/icons/ico-bullet-play.svg') no-repeat center
        2px;
    }
  }
}

.searchInputBox {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.searchInputLabel {
  font-size: var(--fs14);
  font-weight: var(--fw500);
  color: var(--text-color-black2);
}

.sectionDescription {
  font-size: var(--fs14);
  font-weight: var(--fw500);
  color: var(--text-color-black5);
}

.explanationList {
  counter-reset: index;
}

.explanationItemTitleArea {
  position: relative;
  font-weight: var(--fw600);

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    counter-increment: index;
    content: counters(index, '.') '. ';
  }
}

.explanationTextArea {
  &.content {
    & + & {
      margin-top: 20px;
    }
  }
}

.explanationSmallText {
  font-size: var(--fs14);
  font-weight: var(--fw400);
  color: var(--text-color-gray1);
  margin-top: 2px;
}

.explanationItemTitleArea,
.explanationText {
  font-size: var(--fs14);
  color: var(--text-color-gray1);
}

.explanationText {
  font-weight: var(--fw400);

  & + & {
    margin-top: 2px;
  }
}

.explanationItemTitle {
  padding-left: 14px;
}

.explanationItem {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  & + & {
    margin-top: 20px;
  }
}

.explanationBox {
  margin-top: 30px;
  padding: 30px;
  background-color: var(--background-white2);

  + .fileInputBoxWrapper {
    // max-width: 350px;
    margin-left: auto;
    margin-top: 40px;
  }

  &.noList {
    margin-top: 0;
    padding: 25px 20px;

    .explanationText {
      color: var(--text-color-black2);
    }
  }

  &.gray {
    border-radius: 4px;
    background-color: #f0f0f0;
  }
}

.explanationTitle {
  display: block;
  font-size: var(--fs14);
  color: var(--text-color-black2);
  margin-bottom: 20px;
}

.explanationList {
  margin: 0;
  padding: 0;
}

.statisticsArea {
  margin-bottom: 80px;
}

.statisticsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.statisticsItem {
  display: flex;
  justify-content: space-between;
  padding: 17.5px 32px;
  border-radius: 8px;
  column-gap: 26px;
  flex: 1;

  /* 홀수 */
  &:nth-child(odd) {
    background-color: #ebf7fb;

    .statisticsTitle {
      color: #217d7b;
    }
  }

  /* 짝수 */
  &:nth-child(even) {
    background-color: #eef2fa;

    .statisticsTitle {
      color: var(--primary3);
    }
  }
}

.statisticsLeft,
.statisticsRight {
  height: 65px;
}

.statisticsLeft {
  width: 65px;
}

.statisticsRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 80px;
}

.statisticsTitle {
  font-size: var(--fs16);
  font-weight: var(--fw700);
}

.statisticsCounter {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.statisticsCounterText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 120px;
  height: 36px;
  border-radius: 6px;
  padding: 0 12.5px;
  font-size: var(--fs16);
  color: var(--text-color-black4);
  background-color: var(--background-white1);

  &.onlyText {
    min-width: auto;
    justify-content: flex-start;
    background-color: transparent;
    color: var(--text-color-black2);
    font-weight: var(--fw700);
    padding: 0;
    border-radius: 0;
    height: 100%;
    font-size: 1.0625rem;
  }
}

.subInner {
  &.window {
    padding-bottom: 70px;
    margin: 0 30px;

    .sectionContainer {
      margin-top: 30px;
    }

    .searchColumnInputBox {
      column-gap: 8px;
    }
  }
}

.sectionInnerContainer {
  &.row {
    display: flex;
    align-items: center;
    column-gap: 53px;

    .sectionInnerBox {
      flex: 1;
    }

    &.both1 {
      align-items: flex-start;
      column-gap: 60px;
    }

    & + & {
      margin-top: 28px;
    }
  }

  &.hasButton {
    column-gap: 30px;
  }
}

.sectionInnerItem {
  height: 300px;

  &.h-auto {
    height: auto;
  }
}

.bottomArea {
  position: relative;
  z-index: 100;
  margin-top: 20px;
  width: 100%;

  &.fixed{
  
  }
}

.bottomGroupBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.bottomGroup {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.baseCollapseContents {
  display: none;

  &.active {
    display: block;
  }
}

.infoChartTreeWrapper {
  min-height: 351px;
  border: 1px solid var(--border-table);
  padding: 15px;

  &.p0 {
    padding: 0;
  }

  &.overflow-y {
    max-height: 352px;
  }
}

.searchButtonGroup {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.colorBox {
  padding: 20px 30px;
  width: 100%;

  &.blue {
    border-radius: 8px;
    background-color: #EEF4FF;
    border-bottom: 1px solid #2A45AE;
  }
}

.colorBoxTitle {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 1.125rem;
  color: #21347d;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #21347d;
  }
}

.colorBoxDescription {
  padding-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: var(--fs14);
  font-weight: 500;
  color: #555;

  &::before {
    content: '*';
    color: #ee4444;
  }
}
